<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="CrossDomainSection" type="WebAPI.Configs.CrossDomainSection, WebAPI" allowLocation="true" allowDefinition="Everywhere" />
	</configSections>
	<!-- Restricting API request to be from speciffic origin (CORS - control)
	   To be clear: This is the domain name of the web where the html/script attempting to communicate with this web-api (http or https included) is loaded from
	   Of corse this needs to be changed for each deployment
	   If you want to allow more than one domain, the corse implementation in the CorsHandler.cs needs to be modified accordingly
	   Leave empty to allow all origins - NOT RECOMENDED FOR PRODUCTION WEBSITES !!	
	-->
	<CrossDomainSection AllowedCrossDomain="http://localhost:65447" />
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>